@import "tailwindcss";

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.custom-circle-marker {
  width: 24px;
  height: 24px;
  background-color: #3b82f6;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}