@import "tailwindcss";

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.custom-circle-marker {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid black;
}